{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}<title>Калитка под ключ в Минске</title>{% endblock %}

<body>


{% block content %}
    <div class="main-wrapper">

        <!--
        =============================================
            Page Banner  Section
        ==============================================
        -->

        <section class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center"
                 style="background-image: url('{% static 'assets/img/slide/vorota2.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Калитки</h1>
                    </div>
                </div>
            </div>
        </section> <!-- /.single-her -->


        <!--
        =============================================
            Product  Details - Shop
        ==============================================
        -->


        <section class="single-product-description section-padding pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="product-description-tab">
                            <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab1" role="tab">
                                        Стоимость и варианты заполнения
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab2" role="tab">
                                        Описание
                                    </a>
                                </li>
                            </ul> <!-- /.nav nav-pills -->
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/karkas-kalitki.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Каркас калитки без заполнения</a></h4>
                                                <p>Каркас без заполнения<br>
                                                    Труба 60*40*2мм, грунт, краска, петли</p>
                                                <br>
                                                <span>От 230р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-s-profnastilom.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка с металлопрофилем</a></h4>
                                                <p>Каркас с профнастилом<br>
                                                    Труба 60*40*2мм, грунт, краска, петли</p>
                                                <br>
                                                <span>От 290р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-s-odnostoronnim-shtaketnikom.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка с металлоштакетником</a></h4>
                                                <p>Каркас с металлоштакетником <br>
                                                    Труба 60*40*2мм, грунт, краска, петли<br>
                                                </p>
                                                <span>От 270р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-s-zhalyuzi.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка с жалюзи</a></h4>
                                                <p>Каркас с жалюзи<br>
                                                    Труба 60*40*2мм, грунт, краска, петли<br>
                                                </p>
                                                <br>
                                                <br>
                                                <span>От 330р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-s-rancho.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка ранчо</a></h4>
                                                <p>Каркас с ранчо<br>
                                                    Труба 60*40*2мм <br>
                                                    Труба 60*40*2мм, грунт, краска, петли</p>
                                                <br>
                                                <span>От 440р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-s-derevom-odnostoronnim.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка с деревом</a></h4>
                                                <p>Каркас с деревянным штакетником<br>
                                                    Труба 60*40*2мм, грунт, краска, петли</p>
                                                <span>От 320р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/kalitka-so-svarnym-zapolneniem.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Калитка с коваными элементами</a></h4>
                                                <p>Каркас сварной с коваными элементами<br>
                                                    Труба 60*40*2мм, грунт, краска, петли<br>
                                                </p>
                                                <span>От 400р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-lg-10 offset-lg-1 col-12 text-center">
                                            <div class="what-we-do-title">
                                                <br>
                                                <br>
                                                <h4>Цены на калитки указаны за каркас с
                                                    комплектующими
                                                    для
                                                    монтажа и заполнения</h4>
                                                <h4>Цена на монтаж калитки:</h4>
                                                <ul>
                                                    <h4>Монтаж калитки на заранее установленные столбы —
                                                        <strong>от
                                                            50
                                                            руб.</strong></h4>
                                                    <h4>Электрозащелка и домофон — <strong>от 300
                                                        руб.</strong></h4>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="tab2" role="tabpanel">
                                    <img src="{% static 'assets/img/wedo/shema_kalitka.jpg' %}" alt="">
                                    <h3>
                                        <br>
                                        Внешний вид
                                    </h3>
                                    <p> Вы можете заказать калитку без заполнения, а так же с любым заполнением подходящим под ваш забор,
                                        так же можно установить дизайнерские ручки.</p>
                                    <h3>Долгий срок службы</h3>
                                    <p> Благодаря качественной фурнитуре ваша калитка будет служить долго.</p>
                                    <h3>Прочность конструкции</h3>
                                    <p>Применение качественной фурнитуре и профессиональных сварочных работ.
                                        Правильная геометрия калитки и отсутствие провисания и перекосов увеличивают
                                        ресурс
                                        использования калитки</p>
                                    <h3>Профессиональный монтаж</h3>
                                    <p>Не качественный монтаж калитки может привести к проблемам в зимний период, по
                                        этому
                                        доверяйте
                                        установку только профессионалам.</p>
                                    <h3>Универсальность</h3>
                                    <p>Калитку можно оборудовать электрозащелкой и домофоном это очень удобно в эксплуатации</p>
                                    <p>Материал заполнение может быть любым — профлист, евроштакетник, доска,
                                        сэндвич-панели и так далее.

                                        Калитки зачастую выполняются в стандартном дизайне, однако можно
                                        выполнить любые пожелания клиента.
                                        Это позволяет подобрать индивидуальное решение для потребностей и
                                        вкусов.</p>
                                </div>
                            </div>
                        </div> <!-- /.tab-content -->
                    </div>
                </div> <!-- /.col-md-12 col-lg-12 -->
            </div>
        </section> <!-- /.single-product-description product-des-tab  -->

        <!--
        =============================================
            Related products Section
        ==============================================
        -->
        {#        <section class="related-products-wrapper section-padding pt-0">#}
        {#            <div class="container">#}
        {#                <h2>Related products </h2>#}
        {#                <div class="row">#}
        {#                    <div class="col-md-6 col-lg-3">#}
        {#                        <div class="single-product-item">#}
        {#                            <div class="product_thumb">#}
        {#                                <img src="assets/img/shop/p1.jpg" alt="p1">#}
        {#                                <a href="#">Add to Cart</a>#}
        {#                            </div>#}
        {#                            <h4><a href="#">Brush</a></h4>#}
        {#                            <span>$12.00</span>#}
        {#                        </div> <!-- /.single-product-item -->#}
        {#                    </div> <!-- /.col-md-6 col-lg-3 -->#}
        {#                    <div class="col-md-6 col-lg-3">#}
        {#                        <div class="single-product-item">#}
        {#                            <div class="product_thumb">#}
        {#                                <img src="assets/img/shop/p2.jpg" alt="p1">#}
        {#                                <a href="#">Add to Cart</a>#}
        {#                            </div>#}
        {#                            <h4><a href="#">Nailer</a></h4>#}
        {#                            <span>$12.00</span>#}
        {#                        </div> <!-- /.single-product-item -->#}
        {#                    </div> <!-- /.col-md-6 col-lg-3 -->#}
        {#                    <div class="col-md-6 col-lg-3">#}
        {#                        <div class="single-product-item">#}
        {#                            <div class="product_thumb">#}
        {#                                <img src="assets/img/shop/p3.jpg" alt="p1">#}
        {#                                <a href="#">Add to Cart</a>#}
        {#                            </div>#}
        {#                            <h4><a href="#">Miter</a></h4>#}
        {#                            <span>$12.00</span>#}
        {#                        </div> <!-- /.single-product-item -->#}
        {#                    </div> <!-- /.col-md-6 col-lg-3 -->#}
        {#                    <div class="col-md-6 col-lg-3">#}
        {#                        <div class="single-product-item">#}
        {#                            <div class="product_thumb">#}
        {#                                <img src="assets/img/shop/p4.jpg" alt="p1">#}
        {#                                <a href="#">Add to Cart</a>#}
        {#                            </div>#}
        {#                            <h4><a href="#">Power tool</a></h4>#}
        {#                            <span>$12.00</span>#}
        {#                        </div> <!-- /.single-product-item -->#}
        {#                    </div> <!-- /.col-md-6 col-lg-3 -->#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}


        <!--
        =============================================
            Contact Info Section
        ==============================================
        -->
    </div>

{% endblock %}
</body>
</html>