{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}<title>Ворота распашные в Минске под ключ</title>{% endblock %}

<body>


{% block content %}
    <div class="main-wrapper">

        <!--
        =============================================
            Page Banner  Section
        ==============================================
        -->

        <section class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center"
                 style="background-image: url('{% static 'assets/img/slide/vorota1.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Распашные Ворота</h1>
                    </div>
                </div>
            </div>
        </section> <!-- /.single-her -->


        <!--
        =============================================
            Product  Details - Shop
        ==============================================
        -->


        <section class="single-product-description section-padding pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="product-description-tab">
                            <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab1" role="tab">
                                        Стоимость и варианты заполнения
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab2" role="tab">
                                        Описание
                                    </a>
                                </li>
                            </ul> <!-- /.nav nav-pills -->
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/karkas-raspashnyz-voroto.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Каркас распашных ворот без заполнения</a></h4>
                                                <p>Каркас без заполнения<br>
                                                    Труба 40*40*2мм <br>
                                                    Грунт, краска, петли, засовы</p>
                                                <br>
                                                <br>
                                                <span>От 680р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/raspashnye-vorota-s-profnastilom.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Распашные ворота с металлопрофилем</a></h4>
                                                <p>Каркас с профнастилом<br>
                                                    Труба 40*40*2мм <br>
                                                    Грунт, краска, петли, засовы, профнастил </p>
                                                <br>
                                                <span>От 800р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/raspashnye-vorota-s-metalloshtaketnikom-odnostoronnim.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Распашные ворота с металлоштакетником</a></h4>
                                                <p>Каркас с металлоштакетником <br>
                                                    Труба 40*40*2мм <br>
                                                    Грунт, краска, петли, засовы, штакетник </p>
                                                <span>От 755р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/raspashnye-vorota-s-zhalyuzi-metallicheskimi.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Распашные ворота с жалюзи металлическими</a></h4>
                                                <p>Каркас с металлическими жалюзи<br>
                                                    Труба 80*40*2мм <br>
                                                    Грунт, краска, петли, засовы, жалюзи </p>
                                                <br>
                                                <span>От 1000р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/raspashnye-vorota-s-rancho.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Распашные ворота с ранчо металлическими</a></h4>
                                                <p>Каркас с ранчо металлическими<br>
                                                    Труба 60*40*2мм <br>
                                                    Грунт, краска, петли, засовы, ранчо</p>
                                                <br>
                                                <br>
                                                <span>От 1200р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/raspashnye-vorota-s-derevyannym-shtaketnikom-odnostoronnim.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Распашные ворота с деревом</a></h4>
                                                <p>Каркас с односторонним деревянным штакетником<br>
                                                    Труба 60*40*2мм <br>
                                                    Грунт, краска, петли, засовы, дерево, пропитка</p>
                                                <span>От 1000р</span>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-md-6 col-lg-3">
                                            <div class="single-product-item">
                                                <div class="product_thumb">
                                                    <img src="{% static 'assets/img/shop/svarnye-raspashnye-vorota.jpg' %}"
                                                         alt="p1">
                                                    <a href="tel:+375295262070">Позвонить</a>
                                                </div>
                                                <h4><a href="#">Откатные ворота с коваными элементами</a></h4>
                                                <p>Каркас сварной с коваными элементами<br>
                                                    Труба 60*40*2мм <br>
                                                    Грунт, краска, петли, засовы, дерево, сварные элементы</p>
                                                <spqn>От 1210р</spqn>
                                            </div> <!-- /.single-product-item -->
                                        </div> <!-- /.col-md-6 col-lg-3 -->
                                        <div class="col-lg-10 offset-lg-1 col-12 text-center">
                                            <div class="what-we-do-title">
                                                <br>
                                                <br>
                                                <h4>Цены на распашные ворота указаны за каркас с
                                                    комплектующими
                                                    для
                                                    монтажа и заполнения</h4>
                                                <h4>Цена на монтаж распашных ворот:</h4>
                                                <ul>
                                                    <h4>Монтаж распашных ворот на заранее установленные столбы —
                                                        <strong>от
                                                            250
                                                            руб.</strong></h4>
                                                    <h4>Автоматика с монтажом и настройкой — <strong>от 900
                                                        руб.</strong></h4>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="tab2" role="tabpanel">
                                    <p>Распашные ворота для частного дома или производства могут быть выполнены в различных
                                        вариантах.
                                    </p>
                                    <img src="{% static 'assets/img/wedo/shema_raspashka.jpg' %}" alt="">
                                    <h3><br>
                                        <br>
                                        Долгий срок службы
                                    </h3>
                                    <p> Благодаря качественным материалам и накопленному опыту за долгие годы,
                                        мы производим надежные распашные ворота которые будут служить и радовать вас долгие годы.</p>
                                    <h3>Прочность конструкции</h3>
                                    <p>Применение качественной трубы 60*40*2 и материалов, правильная геометрия ворот.
                                        Отсутствие провисания и перекосов увеличивают
                                        ресурс
                                        использования распашных ворот</p>
                                    <h3>Профессиональный монтаж</h3>
                                    <p>Не качественный монтаж распашных ворот может привести к быстрому износу
                                        петель
                                        и в дальнейшем к дорогостоящему ремонту, а также выхода из строя автоматики, по
                                        этому
                                        доверяйте
                                        установку только профессионалам.</p>
                                    <h3>Бесшумная работа</h3>
                                    <p>Благодаря качественным комплектующим и Итальянской автоматике Nice.
                                        Соблюдаются минимальные зазоры среди трущихся деталей, что в комплексе дает
                                        тихую почти бесшумную работу ворот.</p>
                                    <h3>Универсальность</h3>
                                    <p>В отличии от откатных ворот, максимальный проем который можно перекрыть распашными пять метров,
                                    обусловлено это весом конструкции и нагрузкой на несущие столбы.</p>
                                    <p>Материал заполнение может быть любым — профлист, евроштакетник, доска,
                                        сэндвич-панели и так далее.
                                        Ворота можно оснастить фотоэлементами, камерой, осветительными приборами и
                                        так
                                        далее.
                                        Распашные ворота зачастую выполняются в стандартном дизайне, однако можно
                                        выполнить любые пожелания клиента.
                                        Это позволяет подобрать индивидуальное решение для потребностей и
                                        вкусов.</p>
                                </div>
                            </div>
                        </div> <!-- /.tab-content -->
                    </div>
                </div> <!-- /.col-md-12 col-lg-12 -->
            </div>
        </section> <!-- /.single-product-description product-des-tab  -->

                <section class="testimonial-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-12 text-center">
                        <div class="what-we-do-title">
                            <span>Отзывы</span>
                            <h2>Наши клиенты говорят о нас</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4  col-sm-12">
                        <div class="single-testimonial">
                            <i class="fas fa-quote-left"></i>
                            <p>Заказал распашные ворота с автоматикой и калиткой, выполнили все качественно особо порадовало,
                                что после выполнения всех работал ребята навели порядок и оставили после себя чистоту,
                                что редко встретишь среди строителей
                            </p>
                            <div class="client-details d-flex align-items-center">
                                <div class="client-info">
                                    <h4>Никита</h4>
                                    <span>не авторизирован</span>
                                </div>
                            </div>
                        </div> <!-- /.ssingle-testimonial -->
                    </div> <!-- /.col-lg-4  col-sm-12 -->
                    <div class="col-lg-4  col-sm-12">
                        <div class="single-testimonial">
                            <i class="fas fa-quote-left"></i>
                            <p>Заказывала распашные ворота, очень приятный консультант, все рассказал и объяснил,
                                я как человек который не очень разбираюсь в стройке, но благодаря этому я смогла определиться с материалом
                                заполнения ворот. Вообщем очень рада что выбрала эту компанию</p>
                            <div class="client-details d-flex align-items-center">
                                <div class="client-info">
                                    <h4>Елена</h4>
                                    <span>не авторизирован</span>
                                </div>
                            </div>
                        </div> <!-- /.ssingle-testimonial -->
                    </div> <!-- /.col-lg-4  col-sm-12 -->
                    <div class="col-lg-4  col-sm-12">
                        <div class="single-testimonial">
                            <i class="fas fa-quote-left"></i>
                            <p> Ребята настоящие профессионалы своего дела, не мог определиться с дизайном, но мне предложили несколько вариантов
                                на выбор и проконсультировали о плюсах и минусах разных вариантов. Остался доволен и буду рекомендовать вас знакомым.
                            </p>
                            <div class="client-details d-flex align-items-center">
                                <div class="client-info">
                                    <h4>Иван</h4>
                                    <span>не авторизирован</span>
                                </div>
                            </div>
                        </div> <!-- /.ssingle-testimonial -->
                    </div> <!-- /.col-lg-4  col-sm-12 -->
                </div>
            </div>
        </section>

    </div>

{% endblock %}
</body>
</html>